.x5-d-dialog {
  input {
    width: 100%;
    padding: 3%;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  p.x5-d-errors {
    height: 14px;
    color: rgb(200, 0, 0);
    margin: 6px 0 0 0;
    font-size: 14px;
  }
}
