.x5-d-modal-wrapper {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  &.x5-d-overlay {
    background-color: #0006;
    z-index: 5;
  }

  .x5-d-modal {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    left: 50%;
    max-height: 80vh;
    max-width: 500px;
    overflow: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    width: 100%;
    &.x5-d-attention {
      animation: shake 150ms;
    }
  }
}